/TeamProjectBase/TeamProjectBase.ipdb
/TeamProjectBase/TeamProjectBase.pdb
/TeamProjectBase/TeamProjectBase.VC.db
/TeamProjectBase/.vs
/TeamProjectBase/Debug
/TeamProjectBase/Release
/TeamProjectBase/TeamProjectBase.iobj
