/TeamProjectBase/TeamProjectBase.ipdb
/TeamProjectBase/TeamProjectBase.pdb
/TeamProjectBase/TeamProjectBase.VC.db
/TeamProjectBase/.vs
/TeamProjectBase/Debug
/TeamProjectBase/Release
/TeamProjectBase/TeamProjectBase.iobj
/TeamProjectBase/x64
/TeamProjectBase/imgui.ini
TeamProjectBase/TeamProjectBase.VC.VC.opendb
/TeamProjectBase/data/SAVEDATA/PictureTextures/PicTex.txt
/TeamProjectBase/data/SAVEDATA/PictureTextures/RecvPicTex.txt
/TeamProjectBase/data/SAVEDATA/SendText.txt
/TeamProjectBase/data/SAVEDATA/RecvText.txt